<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
</head>

<body>
    <div id="main-container">
        <h1><%= title %></h1>
        <div id="organization-list-toolbar">
            <button id="do_delete">Delete</button>
        </div>
        <div id="organization-list"></div>
    </div>
</body>

</html>